.photoCarousel {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
    margin-top: -10;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}